button{
    position: fixed;
    width: 400px;
    bottom: 50px;
    z-index: 2;
}

.agendar {
    width: 400px;
    position: fixed;
    bottom: 20px;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%);
}
    
.custom-btn {
    background-color: var(--custom-color);
    border-color: var(--custom-color);
    color: white; /* Define a cor do texto para garantir visibilidade */
}

.circle {
    width: 90px;
    height: 90px;
    background-color: #FF9400;
    border-radius: 50%;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Para garantir que o círculo fique abaixo do botão */
}
  

.footer {
    background-color: #FF9400;
    position: fixed;
    bottom: 0;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para ficar centralizado */
    width: 450px; /* Largura definida */
    text-align: center;
}
  
.footer-buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
}
  
.footer-button {
    background-color: #ffffff;
    color: #FF9400;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}
  
.circle {
    /*width: 125px;
    height: 125px;
    background-color: #ffffff;
    border-radius: 50%;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Para garantir que o círculo fique abaixo do botão */
}
  